SourceCode/Dev/Dispositivos/Monitor/Connected Services/ServiceMonitoreo/ServiceMonitoreo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.161.41:3210/soap/ServiceMonitoreo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.161.41:3210/soap/ServiceMonitoreo?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiceMonitoreo.Contract" />
  <xs:complexType name="ResponseObjectOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseObjectOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseObjectOfstring" nillable="true" type="tns:ResponseObjectOfstring" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeBase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:ResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="ResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Warning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoData">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
  <xs:complexType name="ResponseQueryOfPublisherDTO2XnGHQYa">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseQueryOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PublisherDTO" Namespace="http://schemas.datacontract.org/2004/07/ServiceMonitoreo.Contract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceMonitoreo.Contract" minOccurs="0" name="ListEntities" nillable="true" type="q1:ArrayOfPublisherDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseQueryOfPublisherDTO2XnGHQYa" nillable="true" type="tns:ResponseQueryOfPublisherDTO2XnGHQYa" />
</xs:schema>