SourceCode/Dev/Dispositivos/Monitor/Connected Services/ServiceMonitoreo/ServiceMonitoreo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.161.41:3210/soap/ServiceMonitoreo?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" />
  <xs:element name="GetStateFingerPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateFingerPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="GetStateFingerPrintResult" nillable="true" type="q1:ResponseObjectOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateCardReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeCardReader" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateCardReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="GetStateCardReaderResult" nillable="true" type="q2:ResponseObjectOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunblisherByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPunblisherByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="GetPunblisherByIdentifierResult" nillable="true" type="q3:ResponseQueryOfPublisherDTO2XnGHQYa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="GetReaderCardResult" nillable="true" type="q4:ResponseObjectOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="ResetResult" nillable="true" type="q5:ResponseObjectOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="ReadCardResult" nillable="true" type="q6:ResponseObjectOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjectCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjectCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Foundation.Stone.Application.Wrapper" minOccurs="0" name="EjectCardResult" nillable="true" type="q7:ResponseObjectOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>