SourceCode/Dev/Dispositivos/FingerControl/HostFingerControl/Connected Services/ServiceCompare/FingerprintCompServiceBasic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prodem.Microfinanzas.CommonEntities.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prodem.Microfinanzas.CommonEntities.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FingerprintDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FingerIdentifier" type="xs:long" />
      <xs:element minOccurs="0" name="FingerprintFormat" type="tns:FingerprintFormat" />
      <xs:element minOccurs="0" name="FingerprintProcess" type="xs:short" />
      <xs:element minOccurs="0" name="FingerprintSize" type="xs:short" />
      <xs:element minOccurs="0" name="FingerprintStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ObjFingerprint" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Origin" type="tns:Origin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FingerprintDTO" nillable="true" type="tns:FingerprintDTO" />
  <xs:simpleType name="FingerprintFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Old" />
      <xs:enumeration value="DP" />
      <xs:enumeration value="ISO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FingerprintFormat" nillable="true" type="tns:FingerprintFormat" />
  <xs:simpleType name="Origin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAI" />
      <xs:enumeration value="CAI10" />
      <xs:enumeration value="MFNET" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Origin" nillable="true" type="tns:Origin" />
  <xs:complexType name="ArrayOfFingerprintDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FingerprintDTO" nillable="true" type="tns:FingerprintDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFingerprintDTO" nillable="true" type="tns:ArrayOfFingerprintDTO" />
  <xs:complexType name="FingerValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FingerMatch" type="xs:long" />
      <xs:element minOccurs="0" name="FingerOrigin" type="xs:long" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:FingerprintValidationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FingerValidationResult" nillable="true" type="tns:FingerValidationResult" />
  <xs:simpleType name="FingerprintValidationResult">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Valid" />
      <xs:enumeration value="NotValid" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="NotMigrate" />
      <xs:enumeration value="NotRealize" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FingerprintValidationResult" nillable="true" type="tns:FingerprintValidationResult" />
  <xs:complexType name="ArrayOfFingerValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FingerValidationResult" nillable="true" type="tns:FingerValidationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFingerValidationResult" nillable="true" type="tns:ArrayOfFingerValidationResult" />
</xs:schema>